/* 
----------------------------------------------
style.css
udacity project nr. 3
Benedetto Lo Giudice
very little styling for this project
--------------------------------------------------
*/
body {
    text-align: center;
}

.topline, .my-toggle-text {
   display: inline-block;
}

#score, #lives, #secondline, #startgame, #timer {
   display: none;
}

.topclass {
   display: inline-block;
}